admin.email.from.address=ttu@kapsi.fi
admin.email.from.name=Tommi Tuomisto
company.default.locale=en_US
company.default.time.zone=UTC
company.default.web.id=kapsi.fi
default.admin.email.address.prefix=ttu
default.admin.first.name=Tommi
default.admin.last.name=Tuomisto
jdbc.default.driverClassName=org.postgresql.Driver
jdbc.default.password=testpassword123
jdbc.default.url=jdbc:postgresql://10.0.0.10:5432/lportal
jdbc.default.username=dbuser
liferay.home=/opt/liferay/liferay-ce-portal-7.4.2-ga3
setup.wizard.add.sample.data=on
setup.wizard.enabled=false
web.server.https.port=443
web.server.protocol=https
web.server.host={{ fqdn }}
